/.DS_Store
/.env
/Summaries 1
/urls.txt
2.txt
/Summarator_Output
/Summarator_Output_2
/Summarator_Output_3
/Summarator_Output_4
/Summarator_Output_5
/Summarator_Output_6
/Summarator_Output_7
/Download
/Downloaded_Videos
